:root {
    --fondo: #f8f5e9;
    --verde-claro: #9dc08b;
    --verde-oscuro: #3a7d44;
    --naranja: #df6d14;
    --negro: #222;

    --fuente-poppins: 'Poppins', sans-serif;
    --fuente-nunito: 'Nunito', sans-serif;
}


/* CUERPO */
body{
    display: flex;
    flex-direction: column;
    color: var(--texto-principal);
    background-color: var(--fondo);
    font-family: var(--fuente-nunito);
    font-size: 1em;
    text-align: center;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 2em 4em;
}

.logo-miferia{
    width: 50rem;
}

h1{
    color: var(--verde-oscuro);
    font-size: 6em;
}


h2{
    color: var(--verde-oscuro);
    font-size: 4em;
}

/* rectangulo texto con imagen */
.texto-imagen{
    display: flex;
    flex-direction: row;
    padding: 1em;
    background-color: var(--verde-claro);
    align-items: center;
    gap: 2em;
}

.texto-imagen img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}


/* BARRA NAVEGACIÓN */
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1em 3em;
}


nav a{
    color: var(--negro);
    margin: 0 0.6em;
    padding: 1em 1.5em;
    font-size: 1em;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.1s ease;
    font-family: var(--fuente-poppins);
    font-weight: 600;
    font-size: 1em;
}

nav a:hover{
    background-color: var(--verde-oscuro);
    color: white;
    transition: background-color 0.1s ease-out;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

nav img{
    height: 40px;
}


/* TARJETAS */
.contenedor-integrantes{
    display: flex;
    flex: row;
    justify-content: center;
    gap: 2em;
    padding: 2em 1em;
}

.contenedor-integrantes img{
    clip-path: circle();
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.nombre-apellido{
    font-family: var(--fuente-poppins);
    font-weight: 600;
    margin: 0.4em 0 0.2em;
}

.rol{
    font-family: var(--fuente-nunito);
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 220px;
    min-height: 400px;
    justify-content: space-between;
}

.card a{
    color: var(--fondo);
    background-color: var(--verde-oscuro);
    margin: 0 0.6em;
    padding: 0.7em 1.2em;
    text-decoration: none;
    border-radius: 25px;
    font-family: var(--fuente-poppins);
    font-weight: 400;
    font-size: 1em;
    transition: background-color 0.1s ease;
}

.card a:hover{
    background-color: var(--naranja);
    font-weight: 600;
}